@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 2%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Nav-Bar
.nav-link{
  text-align: right;
}

.patentFrame {
  width: 67%;
  padding: 2%;
  text-align: left;
  display: block;
  height: 90%;
  background-color: whitesmoke;
  overflow-y: auto;
  font-size: calc(4px + 2vmin);
  color: black;
  border-radius: 15px;
}

.patentFrame .child {
  padding: 20px;
  max-height: 500px;
}

.labelQuestion {
  width: 24%;
  padding: 2%;
}
